body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-color:olive ; */
}

.wrapper {
    width: 100%;
}

/* side-bar */
/* side-bar */
/* side-bar */
.sidebar {
    width: 10%;
    background-color: black;
    position: fixed;
    right: 0;
    height: 100%;
}

.side-logo {
    height: 50px;
    width: auto;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 10%;
}

.side-menu li {
    margin-top: 50px;
    margin-left: 10%;
}

.side-menu li a {
    text-decoration: none;
    color: white;
}

.side-menu li a:hover {
    color: darkgoldenrod;
}

/* side-bar */
/* side-bar */
/* side-bar */

/* main-page */
/* main-page */
/* main-page */
.main-page {
    width: 90%;
}


.swiper-slide img {
    width: 100%;
    height: auto;
}


.feauture-title h1 {
    font-size: 30px;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    /* background-color: darkgoldenrod; */
}

.feauture-text p {
    width: 100%;
    text-align: center;
}

.feauture-img img {
    width: 100%;
    height: auto;
}

.profile-wrapper>h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.profile-title {
    /* background: chartreuse; */
    display: flex;
    justify-content: center;
}

.profile-title img {
    height: 110px;
    width: 90px;
    border-radius: 20px;

}

.profile-subtitle {
    /* background: chocolate; */
    text-align: center;
}

.profile-subtitle h1 {
    font-size: 30px;
    text-align: center;
}

.profile-subtitle p {
    font-size: 20px;
}

.profile-text {
    text-align: center;
}

.profile-text h1 {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.profile-text p {
    font-size: 20px;
}

.lan-html {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
.icon-html {
    font-size: 100px;
    color: orange;
}

.lan-html p {
    font-size: 30px;
    margin-left: 40px;
}

.lan-css {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
.icon-css {
    font-size: 100px;
    color: rgb(91,91,220);
}

.lan-css p {
    font-size: 30px;
    margin-left: 40px;
}

.lan-js {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
.icon-js {
    font-size: 100px;
    color: yellow;
}

.lan-js p {
    font-size: 30px;
    margin-left: 40px;
}

.lan-react {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
.icon-react {
    font-size: 100px;
    color: skyblue;
}

.lan-react p {
    font-size: 30px;
    margin-left: 40px;
}



/* main-page */
/* main-page */
/* main-page */